@font-face {font-family: "ReklameScriptW00-Medium";
    src: url("../../fonts/Reklame-Script-W00-Medium.ttf");
}
@font-face {font-family: "Lithos Pro Bold";
    src: url("../../fonts/Lithos-Pro-Bold.ttf");
}
@font-face {font-family: "Cronos Pro Regular";
    src: url("../../fonts/Cronos-Pro.ttf");
}
@import "modules/colors.scss";
*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#desktop-navigation{
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 992px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  ul{
    display: flex;
    position: relative;
    list-style: none;
    font-family: "Lithos Pro Bold";
    letter-spacing: 1px;
  }
  .nav-item{
    align-self: flex-end;
    margin-bottom: 20px;
    a{
      font-size: .8em;
      padding: 0 10px;
      color: #12508A;
      transition: color 150ms ease-in;
      text-decoration: none;
      &:hover{
        color: white;
      }
    }
  }
  .selected>a{
    color: #fff;
  }
}
.nav-item #drop-down-menu{
  visibility: hidden;
  transition: 0.1s 300ms;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #FFF;
  margin-top: 10px;
  .drop-down-item{
    text-align: center;
    width: 100%;
    padding: 7px 0 7px 0;
    margin: 0;
    a{
      font-size: .7em;
      color: #12508A;
      transition: color 200ms ease-in;
    }
    &:hover a{
      color: #f5f5f5;
    }
  }
}
#drop-btn:hover #drop-down-menu{
  visibility: visible;
  transition-delay: 0s;
}

#mobile-nav{
  display: none;
  position: absolute;
  z-index: 10;
}
#hamburger-menu-container{
  position: relative;
}
#toggle-btn{
  position: fixed;
  top: 60px;
  left: 30px;
  a{
    text-decoration: none;
  }
  input{
    display: block;
    position: absolute;
    //make the checkbox above the hamburger spans
    z-index: 9;
    cursor: pointer;
    width: 40px;
    height: 30px;
    z-index: 33;
    opacity: 0;
  }
  span{
    display: block;
    z-index: 8;
    position: relative;;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: tomato;
  }
}
#toggle-menu{
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  width: 300px;
  height: 100vh;
  box-shadow: 0 0 20px #afafaf;
  transition: margin 300ms cubic-bezier(0.52, 0.11, 0.44, 0.95);
  ul{
    position: absolute;
    list-style: none;
    top: 150px;
    left: 30px;
    a{
      display: block;
      color: #12508A;
      transition: color 200ms ease-in;
      margin-bottom: 30px;
      &:hover{
        color: white;
      }
    }
    li{
      font-size: 1.8em;
      font-family: "Lithos Pro Bold";
    }
  }

}

#toggle-btn input:checked ~ #toggle-menu{
  margin-left: -304px;
}


@media screen and (max-width: 768px) {
  #desktop-navigation{
    display: none;
  }
  #mobile-nav{
    display: block;
  }
}

/*-------------------- SINGLE ROW --------------------*/
.single-row-container{
  position: relative;
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
}
.single-text{
  font-size: 1vw;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  letter-spacing: 3px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  span{
    display: block;
  }
  span:first-child{
    font-size: 2em;
    font-family: 'Lithos Pro Bold';
    font-weight: bold;
  }
  span:last-child{
    font-size: 4.3em;
    font-family: 'ReklameScriptW00-Medium';
  }
}


/*-------------------- SIDE BY SIDE --------------------*/
.side-side-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-item,.left-item{
  position: relative;
  width: 100%;
  height: 652px;
}
.side-img{
  display: block;
  position: absolute;
}
.description-container{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  text-align: center;
  width: 319px;
  .description-title{
    font-family: 'Lithos Pro Bold';
    font-size: 1.5em;
  }
  .description-item{
    color: #2F2E2E;
    font-family: 'ReklameScriptW00-Medium';
    font-size: 1.7em;
    margin-bottom: 30px;
  }
  .description{
    font-family: 'Cronos Pro Regular', sans-serif;
    line-height: 1.8em;
  }
}

@media screen and (max-width: 992px) {
  .single-text{
    font-size: 2vw;
  }
  .side-side-container{
    flex-direction: column;
      margin: 0 auto;
  }
  .side-img, .description-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
    .side-img{
      width: 100%;
    }
}

/*--------------------FOOTER --------------------*/
footer{
  width: 100%;
  height: 70px;
  background: #FC951B;
  color: #FFF;
  text-align: center;
  font-family: 'Cronos Pro Regular';
  letter-spacing: 1px;
  line-height: 70px;
}

/*-------------------- ROW ONE --------------------*/
#row-one{
  background-color: #20B4DB;
  .single-text{
    top: 53%;
  }
  .top-strip{
    height: 15px;
    background-color: #FC951B;
  }
  .row-one-bg{
    width: 100%;
  }
}

/*-------------------- ROW TWO --------------------*/
#row-two{
  .right-item{
    background: #FFF;
  }
  .left-item{
    background: #FF9000;
  }
  #row-two-image{
    right: -100px;
  }
}

//Presets for row 3 and 5's background image to take full W and H
#row-three .single-row-container, #row-five .single-row-container{
  height: 780px;
}
.row-three-bg, .row-five-bg{
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/*-------------------- ROW THREE --------------------*/
#row-three{
  background-color: #5FBC43;
  .row-three-bg{
    left: 555px;
  }
}

/*-------------------- ROW FOUR --------------------*/
#row-four{
  .right-item{
    background: #00B6DF;
  }
  .left-item{
    background: #FFF;
  }
  #row-four-image{
    left: 0px;
  }
  .description-container{
    left: auto;
    right: 100px;
  }
  //Media query to recenter text and image in side containers.
  @media screen and (max-width: 992px) {
    #row-four-image, .description-container{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

/*-------------------- ROW FIVE --------------------*/
#row-five{
  background-color: #FC951B;
  position: relative;
}
//Query to let the image take the form the single-row-container
@media screen and (max-width: 1313px) {
  .row-three-bg, .row-five-bg{
    position: static;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform:none;
  }
}
/*-------------------- ROW SIX --------------------*/
#row-six{
  .left-item{
    background: #00C645;
  }
}
