@font-face {font-family: "ReklameScriptW00-Medium";
    src: url("../fonts/Reklame-Script-W00-Medium.ttf");
}
@font-face {font-family: "Lithos Pro Bold";
    src: url("../fonts/Lithos-Pro-Bold.ttf");
}
@font-face {font-family: "Cronos Pro Regular";
    src: url("../fonts/Cronos-Pro.ttf");
}
*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#site-navigation{
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 992px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  ul{
    display: flex;
    position: relative;
    list-style: none;
    font-family: "Lithos Pro Bold";
    letter-spacing: 1px;
    .nav-item{
      align-self: flex-end;
      margin-bottom: 20px;
      &:hover a{
        color: #fff;
      }
    }
    a{
      font-size: .8em;
      padding: 0 10px 0 10px;
      transition: color 100ms ease-in;
      color: #12508A;
      text-decoration: none;
    }
    .selected>a{
      color: #fff;
    }
  }
  #drop-down-menu{
    visibility: hidden;
    transition: 0.1s 300ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #FFF;
    margin-top: 10px;
    .drop-down-item{
      text-align: center;
      width: 100%;
      padding: 7px 0 7px 0;
      margin: 0;
      a{
        font-size: .7em;
        color: #12508A;
        text-decoration: none;
        transition: color 200ms ease-in;
      }
      &:hover a{
        color: #f5f5f5;
      }
    }
  }
}

#drop-btn:hover #drop-down-menu{
  visibility: visible;
   transition-delay: 0s;
}

/*-------------------- SINGLE ROW --------------------*/
.row{
  width: 100%;
}
.single-row-container{
  position: relative;
  max-width: 992px;
  margin: 0 auto;
}
.row-bg{
  width: 100%;
}
.single-text{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  letter-spacing: 3px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  h5{
    font-size: 2em;
    font-family: 'Lithos Pro Bold';
    font-weight: bold;
  }
  h3{
    font-size: 4.3em;
    font-family: 'ReklameScriptW00-Medium';
  }
}


/*-------------------- SIDE BY SIDE --------------------*/
.side-side-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-item,.left-item{
  position: relative;
  width: 100%;
  height: 652px;
}
.side-img{
  display: block;
  position: absolute;
}
.description-container{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  text-align: center;
  width: 319px;
  .description-title{
    font-family: 'Lithos Pro Bold';
    font-size: 1.5em;
  }
  .description-item{
    color: #2F2E2E;
    font-family: 'ReklameScriptW00-Medium';
    font-size: 1.7em;
    margin-bottom: 30px;
  }
  .description{
    font-family: 'Cronos Pro Regular', sans-serif;
    line-height: 1.8em;
  }
}
@media screen and (max-width: 992px) {
  .side-side-container{
    flex-direction: column;
      margin: 0 auto;
  }
  .side-img, .description-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .side-img{
    width: 100%;
  }
}

/*--------------------FOOTER --------------------*/
footer{
  width: 100%;
  height: 70px;
  background: #FC951B;
  color: #FFF;
  text-align: center;
  font-family: 'Cronos Pro Regular';
  letter-spacing: 1px;
  line-height: 70px;
}

/*-------------------- ROW ONE --------------------*/
#row-one{
  background-color: #20B4DB;
  .top-strip{
    height: 15px;
    background-color: #FC951B;
  }
}

/*-------------------- ROW TWO --------------------*/
#row-two{
  .right-item{
    background: #FFF;
  }
  .left-item{
    background: #FF9000;
  }
  #row-two-image{
    right: -100px;
  }
}

/*-------------------- ROW THREE --------------------*/
#row-three{
  background-color: #5FBC43;
  .single-row-container{
    position: relative;
    height: 780px;
    .single-text{
      z-index: 999;
    }
    .row-three-bg{
      width: auto;
      position: absolute;
      left: 555px;
      transform: translateX(-50%);
    }
    @media screen and (max-width: 1313px) {
      .row-three-bg{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        transform:none;
      }
    }
  }
}

/*-------------------- ROW FOUR --------------------*/
#row-four{
  .right-item{
    background: #00B6DF;
  }
  .left-item{
    z-index: 999;
    background: #FFF;
  }
  #row-four-image{
    left: 0px;
  }
  .description-container{
    left: auto;
    right: 100px;
  }
  //Media query to recenter text and image in side containers.
  @media screen and (max-width: 992px) {
    #row-four-image, .description-container{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

/*-------------------- ROW FIVE --------------------*/
#row-five{
  background-color: #FC951B;
  position: relative;
  .single-row-container{
    height: 780px;
    .single-text{
      z-index: 999;
    }
    .row-five-bg{
      display: block;
      width: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    @media screen and (max-width: 1313px) {
      .row-five-bg{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        transform:none;
      }
    }
  }
}

/*-------------------- ROW SIX --------------------*/
#row-six{
  .left-item{
    background: #00C645;
  }
}
